PORT=3000

# Production deploy (Postgres/Neon)
DB_TYPE=postgres
DB_HOST=ep-xxxxxxx.us-east-1.aws.neon.tech
DB_PORT=5432
DB_USER=neondb_owner
DB_PASSWORD=cambia_esto
DB_NAME=neondb
DB_SYNCHRONIZE=false
DB_MIGRATIONS_RUN=false
DB_LOGGING=false
DB_TIMEZONE=Z

# Neon TLS
DB_SSL=true
DB_SSL_REJECT_UNAUTHORIZED=false

JWT_SECRET=cambia_esto_minimo_32_caracteres_seguro
JWT_EXPIRES_SEC=43200

CORS_ORIGINS=https://tu-frontend.com
