.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--mainPadding);
}

/* Estilo para botón "Volver" cuando no hay BottomNav */
.btn-back {
  position: fixed;
  bottom: 80px; /* Posicionado arriba del BottomNav o mensaje de caducidad */
  left: 0;
  right: 0;
  z-index: 999;
}

/*.btn-blue{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mainBlue);
  color: var(--mainWhite);
  border: none;
  border-radius: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  gap: 0.75rem;
}

p {
  padding: var(--mainPadding);
}*/

.btn-blue {
  width: 100%;
  max-width: 480px;
  height: 40px;
  background-color: var(--mainBlue);
  padding: var(--mainPadding);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  color: var(--mainWhite);
}

.btn-blue:hover {
  background-color: var(--mainBlueHover);
}

.btn-blue span {
  color: var(--mainWhite);
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 21px;
}